/* сброс стилей браузера */
* {
  box-sizing: border-box; 
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

/*отдельные классы для форматирования различных элементов страницы*/


.button {
	text-decoration: none;
	color: brown;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5%;
}

.button-nav {
	background: rgb(160,179,145);
	color: rgb(71,44,44);

}

.button-nav:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
}


.floatLeft {
	float: left;
}

.borderLeft {
	border-left: 2px dashed rgb(71, 44, 44);
}


.home .homeLink,
.about .aboutLink,
.products .productsLink,
.contacts .contactsLink {
	color: rgb(160,179,145);
	background-color: rgb(71,44,44);
}


/* конец кода сброса стилей браузера */

body {
	background-color: #f0ebe1;
	color: rgb(151,86,184);
}


/*верх страницы*/
header {

	font-family: "Copperplate Light", "Copperplate Gothic Light", serif;
	font-size: 5rem;
	display: flex;
	flex-flow: row wrap;
}

header div {
	margin: auto;
}

nav {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	font-size: 1.3rem;
	background-color: rgb(105,128,85);
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

nav a {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
}

/*Раздел контента*/

main h1, main h2, main h3 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
}

main h1 {
	font-size: 1.4rem;
}

main h2 {
	font-size: 1.3rem;
}

main p {
	font-family: "Times New Roman", Times, serif;
	font-size: 1.2rem;
}

main {
	display: flex;
}

.content {
	flex: 4;
}

.advertisement {
	order: -1;
	flex: 1;
	background-color: #fff4d5;
}

.news {
	flex: 2;

}

/*Подвал*/
footer {
	
}

