/* сброс стилей браузера */
* {
  box-sizing: border-box; 
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* конец кода сброса стилей браузера */

/*общие стили для всех размеров браузера*/

/*отдельные классы для форматирования различных элементов страницы*/


.button {
	text-decoration: none;
	color: brown;
	padding: 10px;
	border: 1px solid black;
	border-radius: 10px;
}

.button-nav {
	background: rgb(160,179,145);
	color: rgb(71,44,44);

}

.button-nav:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
}


.floatLeft {
	float: left;
}

.clearBoth {
	clear: both;
}

.marginLeft52perc {
	margin-left: 52%;
}

.imgFrame {
	border: 4px solid rgb(160,179,145);
	border-radius: 20px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 20px;

}

.productsImg {
	margin-left: 25%;
	margin-right: 25%;
}

.widthAuto {
	max-width: 100%;
}

.home .homeLink,
.about .aboutLink,
.products .productsLink,
.contacts .contactsLink {
	color: rgb(160,179,145);
	background-color: rgb(71,44,44);
}


/*Стили форматирования различных разделов*/

body {
	background-color: #f0ebe1;
	color: rgb(151,86,184);
}


/*верх страницы*/

header {
	font-family: "Copperplate Light", "Copperplate Gothic Light", serif;
	font-size: 5rem;
	display: flex;
	flex-flow: row wrap;
}

header div {
	margin: auto;
}

 

nav {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	font-size: 1.3rem;
	background-color: rgb(105,128,85);
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

nav a {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
}

/*Раздел контента*/

main h1, main h2, main h3 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

main h1 {
	font-size: 1.4rem;
}

main h2 {
	font-size: 1.3rem;
}

main p {
	font-family: "Times New Roman", Times, serif;
	font-size: 1.2rem;
	line-height: 1.8rem;
}

main {
	display: flex;
	flex-flow: row wrap;
	max-width: 900px;
	margin: 0 auto;

}

main img {
	max-width: 50%;
}

/*основной контент*/
.content {
	flex: 4 1 436px;
	padding: 10px;
	border-left: 1px dashed rgb(71, 44, 44);
	border-right: 1px dashed rgb(71, 44, 44);
}

.content blockquote {
	background-color: #fff;
	font-size: 1.1rem; 
	font-style: italic;
	border: 1px solid brown;
	border-radius: 10px;
	box-shadow: 3px 3px 3px rgb(0, 0, 0, .8);
	padding: 5px;
}

.content form {
	display: flex;
	flex-flow: row wrap;
	font-size: 1.1rem;
	line-height: 1.6rem;
}

.content input[type="text"],
.content label,
.content textarea {
	margin-top: 20px;
}

.content input[type="text"],
.content textarea{
	background-color: #E5E5E5;
}

.content input[type="text"]:focus,
.content textarea:focus {
	outline: none;
	background-color: #fff;
}


.content label {
	flex: 1 1 25%;

}

.content input[type="text"] {
	flex: 3 1 75%;
	border-radius: 5px;
}

.content textarea {
	flex: 3 1 60%;
	height: 100px;
	border-radius: 10px;
}

.content input[type="submit"] {
	width: 100px;
	max-height: 40px;
	margin-top: 20px;
}

/*раздел рекламы*/
.advertisement {
	order: -1;
	flex: 1 1 109px;
	background-color: #fff4d5;
}


/*боковая панель новостей*/
.news {
	flex: 2 1 218px;

	padding: 10px;
	text-align: center;
}

.news ul {
	margin: 0;
	padding: 0;
}

.news li {
	list-style-type: none;
	margin-bottom: 20px;
}

.news .button {
	display: block;
	margin-top: 15px;
	background-color: #7bcdd9;
	color: #fff4d5;
}

.news .button:hover {
	background-color: yellow;
	color: blue;
}

/*Подвал*/
footer {
	text-align: center;
	padding: 10px 0;
	background-color: rgb(71,44,44);
	color: rgb(240,235,225);
}

/*стили для планшетных компьютеров*/
@media (min-width: 654px) and (max-width:762px) {
/*Верх страницы*/
	header {
		font-size: 4rem;
	}
	
	nav {
		font-size: 1.2rem;
	}

/*Основной контент*/
	.advertisement {
		order: 3;
		height: 400px;
		border-top:  1px dashed rgb(71, 44, 44);
	}
	
	.content {
		border-left: none;

	}


}


@media (min-width: 481px) and (max-width:653px) {

/*Верх страницы*/
	
	header {
		font-size: 3rem;
	}
	
	nav {
		font-size: 1.1rem;
	}


/*Основной контент*/
	main h1, main h2, main h3 {
		font-size: 1.3rem;
	}
	
	main p {
		line-height: 1.6rem;
	}
	
	
	
	.content {
		border-left: none;
		border-right: none;
		border-bottom: 1px dashed rgb(71, 44, 44);
	}
	
	.content blockquote {
		margin-left: 50%;
	}
	
	.advertisement {
		order: 3;
	}
	
	.news {
		border-right: 1px dashed rgb(71, 44, 44);
	}

}

/*стили для мобильных телефонов*/
@media (max-width:480px) {

/*Верх страницы*/
	header {
		font-size: 2.5rem;
	}

/*Основной контент*/
	
	main {
		flex-flow: column;
	}
	
	main h1, main h2, main h3 {
		font-size: 1.22rem;
	}
	
	main p{
		font-size: 1.2rem;
		line-height: 1.4rem;
	}
	
	.content {
		border-left: none;
		border-right: none;
		border-bottom: 1px dashed rgb(71, 44, 44);
	
	}
	
	.news {
		border-bottom: 1px dashed rgb(71, 44, 44);

	}
	
	.advertisement {
		order: 3;
	}
}

